<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>http://down.w60000.com:8888/yrmt/yrmt.ipa</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>http://down.w60000.com:8888/yrmt/AppIcon57x57.png</string>
               </dict>
           </array>
           <key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>com.DiMo.DaFuHao2</string>
               <key>bundle-version</key>
               <string>3.2.9.0</string>
               <key>kind</key>
               <string>software</string>
               <key>subtitle</key>
               <string>大富豪</string>
               <key>title</key>
               <string>大富豪</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>